.login_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container_part1 {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #5a358f1a;
}


.img_class {
  width: 60%;
  height: 75%;
}


.login_container_part2 {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}


.part2_logo {
  margin-top: 2rem;
  margin-left: 3rem;
  width: 55%;
  height: 25%;
  background-repeat: no-repeat;
  background-size: contain;
}



.part2_form {
  width: 70%;
  margin-left: 7rem;
  display: flex;
  flex-direction: column;
}



.login_container_part2 .part2_form .form .form_email {
  display: flex;
  flex-direction: column;
  width: 78%;
  margin-top: 5rem;
}


.h2 {
  font-size: 2.5rem;
}


.login_container_part2 .part2_form .form .form_email input {
  margin-top: 0.3rem;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(138, 96, 138);
  color: white;
}


.login_container_part2 .part2_form .form .form_password {
  display: flex;
  flex-direction: column;
  width: 78%;
  margin-top: 1rem;
}



.login_container_part2 .part2_form .form .form_password input {
  margin-top: 0.3rem;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(138, 96, 138);
  color: white;
}



.btn {
  width: 30%;
  margin-left: 14rem;
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(119, 46, 187);
  color: whitesmoke;
  margin-top: 3rem;
}



h5 {
  margin-left: 15rem;
  margin-top: 2rem;
}



.form_email input::placeholder,
.form_password input::placeholder {
  color: white;
  opacity: 1;
}
